<!DOCTYPE html>
<html>
<head>
<title>mvk - prototype v0.1</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
<script>window.team42={};window.team42.static_url="{{ STATIC_URL }}";</script>
<script src="{{ STATIC_URL }}javascript/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}javascript/d3.v3.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}javascript/script.js" type="text/javascript"></script>
</head>
<body>
	<header>
		
		
		<img src="{{ STATIC_URL }}images/kluster_logo.png" />
		<h1>KLUSTER</h1>
		
		<ul id="menu">
			<li class="active"><a href="#">Search</a></li>
			<li><a href="#">Network</a></li>
			<li><a href="#">Account</a></li>
			<li><a href="#">Info</a></li>
		</ul>
	</header>

	<div id="content">
		<div id="search" class="view">
			<div class="content">
				<h1>Search view</h1>
				
				<div id="free-text-search">
					<input type="button" name="header" value="Free text search" class="header" />

					<div class="search-area">				
					    <input type="text" name="text" />
					    <input type="button" name="search" value="Search" />
					</div>
				</div>
				
				<div id="source-tag-search">
					<input type="button" name="header" value="Source/tag search" class="header" />
					
					<div class="search-area">
					    <label>Source:<input type="text" name="text" /></label>
					    <p>Tags:
    					    <label><input type="checkbox" name="terrorism" />Terrorism</label>
    					    <label><input type="checkbox" name="sweden" />Sweden</label>
    					</p>
    					
                        <p>Time period:<br /><p id="period">1968 - 2011</p><img src="{{ STATIC_URL }}images/slider.png" /></p>
    					
					    <input type="button" name="search" value="Search" />
					</div>
				</div>
				
				<div id="search-result">
					<h1>Search result</h1>
                    <table>
					</table>
				</div>
			</div>
			
			<div class="arrow"><p>Search</p></div>
		</div>
		
		<div id="network" class="view">
			<div class="content">
				<div id="network-info-view">
				    <h1 class="title">Title</h1>
				    <p class="description">Descritption</p>
				    <p class="type">Type</p>
				    <p class="tags">Tags</p>
				    <p>Calculated trust: <span class="rating">Rating</span> <input type="button" value="calculate trust" /></p>
				    <p>Set new trust level <select><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select></p>
				</div>
				
				<div id="network-holder">
					<svg id="network-graph"></svg>
				</div>
			</div>
			
			<div class="arrow"><p>Network</p></div>
		</div>
		
		<div id="account" class="view">
			<div class="content">
			    <h1>Account</h1>
			    <p>Name: Mr. Advanced</p>
			    <h2>Your rated sources:</h2>
			    <ul class="list">
			        <li>DN<span class="rating">4</span></li>
			        <li>Global Terrorism Database (GTD)<span class="rating">5</span></li>
			        <li>Al-watwan<span class="rating">3</span></li>
                    <li>Rodong Sinmun<span class="rating">4</span></li>
                    <li>Minju Choson<span class="rating">2</span></li>
                    <li>Pyongyang Sinmun<span class="rating">3</span></li>
                    <li>The Pyongyang Times<span class="rating">3</span></li>
                    <li>Rimjingang (unofficial, private publication)<span class="rating">2</span></li>
                    <li>Korean News Service (Chosun Tongsin)<span class="rating">4</span></li>
			    </ul>
			    
				<h2>Friends</h2>
				<p>Friends list:</p>
				<ul class="list">
				    <li>Daniel Molin</li>
				    <li>John Brynte Turesson</li>
				    <li>Slim Jim</li>
				</ul>
				<p>Search friends:</p>
				<p><input type="text" /><input type="button" value="Add" /></p>
			</div>
			
			<div class="arrow"><p>Account</p></div>
		</div>
		
		<div id="info" class="view">
			<div class="content">
				<h1>info view</h1>
				
				<p>Don't panic... it's just a prototype.</p>
			</div>
		</div>
	</div>
	
	<footer>
		<p>2013 team 42 <img src="{{ STATIC_URL }}images/pc.png" /> prototype v0.1</p>
		
		<p id="login">Logged in as <b>advanced user</b></p>
	</footer>
</body>
</html>
